*{
    margin:0;
    padding:0;
    box-sizing:border;
}

#wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x: hidden;
}

.container{
   position: relative;
    margin: 0 auto;
}

.intro{
    margin-left: 114px;
   margin-right: 114px;
    display: flex;  
    justify-content: space-between;
    align-items: flex-end;
}

#nikhilPic{
    width: 434px;
    height:400px;
    margin-left: 18px;
    margin-top: 364px;
  
    
}
.nav-items{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
   padding: 0 4rem;
   z-index:1;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.nav-items a{
    color:white;
}
/* .nav-items div:hover {
    transition: all 2s; 
    font-weight:bold;
} */
#projects a:hover{
    transition:  2s; 
    font-weight:bold;
}
.portfolio{
    color: black;
    margin-top: 114px;
    width: 457px;
    height: 120px;
    font-size: 71px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    
}
.name{
    height: 235px;
    width: 533px;
    margin-top: 325px;
    font-size: 35px;
    font-weight: 550;
   font-family: 'Poppins', sans-serif;
   position: relative;
   
    
}
/*.ui{
    background-color: #000000;
    height: 95px;
    width: 533px;
   color: white;
   font-size: 50px;
   font-weight: 50px ;
   font-family: 'Poppins', sans-serif;
   display: flex;
   text-align: center;
   justify-content: center;
}*/

.ui{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    width: 533px;
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
.brownArea{
    width: 470px;
    height: 800px;
    background-color: #000000;   
}

.aboutme{
    margin-left: 114px;
   /* margin-right: 114px; */
   margin-top: 200px;
    display: flex;  
    height: 499px;
    width: 1374px;
}
.LaboutMe{
    height: 499px;
    width: 499px;
}
 .para{

    width: 600px;
    height: 135px;
    /* display: flex;
     justify-content: center;
     align-items: center; */
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
 
} 
.RaboutMe{
    height: 499px;
    width: 920px;
    display: flex;
     justify-content: center;
    /* background-color: blue; */
    align-items: center;
    /* padding-left: 160px;
    padding-right: 160px; */
    
}
.education{
   margin: 200px 150px;
    height: 625px;
    /* background-color: red; */
    display: column;
}

.edu{
    color: black;
    display: flex;
    justify-content: center;
    /* width: 295px;
    height: 75px; */
    font-size:50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;


}
.qualifications{
    height: 567px;
    display: flex;
    align-items:flex-end ;
    

}

.tenth{
    border: 3px solid black;
    height: 394.67px;
    width: 400px;
    flex: column;
    box-sizing: border-box;
   padding: 60px 20px 20px 20px;
  font-size: 30px;
  margin-right: 60px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  z-index: -1;
}
.school{
    font-size: 24px;
    font-weight: 500px;
    box-sizing: border-box;
    line-height: 60px;
}
.img1{
  display: flex;
  justify-content: center;
  position: relative;
  top:-100px;

}
.circle1{
        display: flex;
        justify-content: center;
        height: 100px;
        width: 100px;
        position: absolute;
        background-color: white;
        top:1883px;
        left: 281px;
        border-radius: 50%;
        border: 3px solid black;
        z-index: -1;
    
}
.tweleve{
    border: 3px solid black;
    height: 394.67px;
    width: 400px;
    flex: column;
    box-sizing: border-box;
    padding: 60px 20px 20px 20px;
  font-size: 30px;
  margin-right: 60px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
   z-index: -1;
}
.img2{
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
}
.school2{
        font-size: 24px;
        font-weight: 500px;
        box-sizing: border-box;
        line-height: 60px;

}
.circle2{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: white;
    top:1883px;
    left: 707px;
    border-radius: 50%;
    border: 3px solid black;
    z-index: -1;

}
.graduation{
    border: 3px solid black;
    height: 394.67px;
    width: 400px;
    flex: column;
    box-sizing: border-box;
    padding: 60px 20px 20px 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  z-index: -1;
}
.img3{
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
}
.college{
        font-size: 24px;
        font-weight: 500px;
        box-sizing: border-box;
        line-height: 30px;
}
.circle3{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: white;
    top:1883px;
    left: 1133px;
    border-radius: 50%;
    border: 3px solid black;
    z-index: -1;

}

/* .blackPart{
    background-color: black;
    width: 1520px;
    height: 870px;
    margin-bottom: 200px;
    z-index: -1;
}
.personalExperience{
    display:flex;
    justify-content: center;
    color: white;
}
.techStack{
    color: white;
     
} */
.blackPart{
    width: 1525px;
    height: 1000px;
    flex-shrink: 0;
    background: #000;
    margin-bottom: 150px;
}

.personalExperience{
    color: #FFF;
font-family: 'Poppins', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
padding-top: 120px; 
padding-left: 457px;
}
.techStack{
 
    position:relative;
    margin-left: 100px;
    padding-right:100px;
    padding-top: 250px;
    display: flex;
    flex-wrap: wrap;
   
}
.illustrator{
    width: 400px;
    height: 157px;
    border: 1px solid #FFF;
    margin-left: 25px;
    margin-top: 25px; 
    display: flex;
  
}

.ai{
   margin: 10px 0px 10px 18px; 
}
.illustrationRight{
    margin: 20px 0px 0px 20px;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } */

  /* Styles for the loading button */


  
 


.illust{
    color: #FFF;
    font-family:'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.loading {
    
    border:1px solid white;
    height: 7px;
    width: 210px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .loadingInt{
    background-color: white;
    height:5px;
    width:103px ;
    margin:1px 0px 1px 1px;
  }

.fifty{
    color: #FFF;
font-family: 'Poppins', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#miro{
    margin-top: 22px;
}
#figma{
    margin-top: 20px;
}
#html{
    margin-top: 20px;
}
#xd{
    margin-top: 13px;
}
#loadingIntPs{
    width: 60%;
}
#loadingIntFigma{
    width: 90%;
}
#loadingIntHtml{
    width: 60%;
}
#loadingIntCss{
    width: 50%;
}
#loadingIntXd{
    width: 70%;
}
#loadingIntFusion{
    width: 80%;
}
#loadingIntMiro{
    width: 70%;
}

.trainingCourses{
    width: 1200px;
    height: 800px;
    flex-shrink: 0;
    margin: 0px 162.5px;
    margin-bottom: 150px;
}
.training{
    color: #000;
font-family: 'Poppins', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
justify-content: center;
}
 .coursesBox{
    height: 750px;
    padding-top: 120px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

} 
.courses{
    width: 300px;
height: 270px;
flex-shrink: 0;
border: 2px solid #000;
background: #FFF;

}
 .upper{
    margin-left: 105px;
} 
 .logo{
 margin: 0% 0%;
} 
.GcompanyName{
    color: #000;
    font-family: 'Poppins', sans-serif;;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.Gdate{
 font-family: 'Poppins', sans-serif; 
 color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;  
margin-left: 10px;
position: relative;
margin-left:-20px; 
margin-top: 30px;
}

.Gcertificate{
    position: relative;
   height: 41px;
   margin-top: 45px; 
   color: #FFF;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;

}

.AcompanyName{
    color: #000;
    font-family: 'Poppins', sans-serif;;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.Adate{
    font-family: 'Poppins', sans-serif; 
    color: #000;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;  
   position: relative;
   margin-left:-20px; 
   margin-top: 30px;
   }
   
   .Acertificate{
       position: relative;
      height: 41px;
      margin-top: 45px; 
      color: #FFF;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
   
   }

 .ACcompanyName{
    color: #000;
    font-family: 'Poppins', sans-serif;;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -30px;
    margin-top: 2px;
}

.ACdate{
    font-family: 'Poppins', sans-serif; 
    color: #000;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;  
   margin-left: 10px;
   }
   
   .ACcertificate{
       position: relative;
      height: 41px;
      margin-top: 45px; 
      color: #FFF;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
   
   }
   .ACdate{
       position: relative;
      margin-left:-20px; 
      margin-top: 30px;
   
   }

.NcompanyName{
    color: #000;
    font-family: 'Poppins', sans-serif;;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-left: -50px;
}

.Ndate{
 font-family: 'Poppins', sans-serif; 
 color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;  
margin-left: 10px;
position: relative;
margin-left:-20px; 
margin-top: 30px;
}

.Ncertificate{
    position: relative;
   height: 41px;
   margin-top: 45px; 
   color: #FFF;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;

}

.GRcompanyName{
    color: #000;
    font-family: 'Poppins', sans-serif;;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-left: -60px;
}

.GRdate{
 font-family: 'Poppins', sans-serif; 
 color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;  
margin-left: 10px;
position: relative;
margin-left:-20px; 
margin-top: 30px;
}

.GRcertificate{
    position: relative;
   height: 41px;
   margin-top: 45px; 
   color: #FFF;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;

}

.VcompanyName{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.Vdate{
 font-family: 'Poppins', sans-serif; 
 color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;  
margin-left: 10px;
position: relative;
margin-left:-20px; 
margin-top: 30px;
}

.Vcertificate{
    position: relative;
   height: 41px;
   margin-top: 46px; 
   color: #FFF;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;

}


.LicenceAndCertificate{
   
    height: 900px;
    flex-shrink: 0;
    margin: 0px 100px;
    margin-bottom: 150px;
}

.licenceText{
    color: #000;
font-family:  'Poppins', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
justify-content: center;
}

.certificates{
    padding-top: 120px;
    display: flex;
    justify-content: space-evenly; 
}

#c1{
    width: 200px;
height: 179px;
border: 2px solid black;
padding: 10px;
}
#c2{
    width: 200px;
    height: 300px;
    border: 2px solid black;
}
 .left{
    width: 450px;
}
.middle{
    width: 200px;
}
.right{
    width: 450px;
}
 .leftCertificates{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    flex: column;
}

.rightCertificates{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
} 



.internship{
    margin-left: 100px;
}
.intern{
    display: flex;
    justify-content: center;
    color: #000;
font-family:   'Poppins', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.internshipCertificate{
    margin-left: 114px;
    margin-top: 120px;
    display: flex;
}

.penger{
    color: #FFF;
font-family: 'Poppins', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 600px;
height: 180px;
background-color: #000000;
display: flex;
justify-content: center;
align-items: center;
}
#ce1{
   
   width:600px;
   height: 500px; 
}
#ce2{
    height: 680px;
}

.sketching{
    width: 1500px;
    height: 633.215px;
    flex-shrink: 0;
    margin-top: 150px; 

}

.SketchingBlackPart {
    width: 1400px;
    height: 330px;
    flex-shrink: 0;
    background: #000;
    margin-left: 60px;  
}

.sketchText{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
  margin: 90px 0px 0px 60px;
}
#modelImg{
    width: 403.477px;
    height: 256.58px;
    flex-shrink: 0;
}




