*{
    margin:0;
    padding:0;
    box-sizing:border;
}

#wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x: hidden;
}

.container{
   position: relative;
    margin: 0 auto;
}

.intro{
    margin-left: 114px;
   margin-right: 114px;
    display: flex;  
    justify-content: space-between;
    align-items: flex-end;
}

#nikhilPic{
    width: 434px;
    height:400px;
    margin-left: 18px;
    margin-top: 364px;
  
    
}
.nav-items{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
   padding: 0 4rem;
   z-index:1;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.nav-items a{
    color:white;
}
.nav-items div:hover{
    transition: all 2s; 
    font-weight:bold;
}
.portfolio{
    color: black;
    margin-top: 114px;
    width: 457px;
    height: 120px;
    font-size: 71px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    
}
.name{
    height: 235px;
    width: 533px;
    margin-top: 325px;
    font-size: 35px;
    font-weight: 550;
   font-family: 'Poppins', sans-serif;
   position: relative;
   
    
}
/*.ui{
    background-color: #000000;
    height: 95px;
    width: 533px;
   color: white;
   font-size: 50px;
   font-weight: 50px ;
   font-family: 'Poppins', sans-serif;
   display: flex;
   text-align: center;
   justify-content: center;
}*/

.ui{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    width: 533px;
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
.brownArea{
    width: 470px;
    height: 800px;
    background-color: #000000;   
}

.aboutme{
    margin-left: 114px;
   /* margin-right: 114px; */
   margin-top: 200px;
    display: flex;  
    height: 499px;
    width: 1374px;
}
.LaboutMe{
    height: 499px;
    width: 499px;
}
 .para{

    width: 600px;
    height: 135px;
    /* display: flex;
     justify-content: center;
     align-items: center; */
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
 
} 
.RaboutMe{
    height: 499px;
    width: 920px;
    display: flex;
     justify-content: center;
    /* background-color: blue; */
    align-items: center;
    /* padding-left: 160px;
    padding-right: 160px; */
    
}
.education{
   margin: 200px 114px;
    height: 625px;
    /* background-color: red; */
    display: column;
}

.edu{
    color: black;
    display: flex;
    justify-content: center;
    /* width: 295px;
    height: 75px; */
    font-size:50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;


}
.qualifications{
    height: 567px;
    display: flex;
    align-items:flex-end ;
    

}

.tenth{
    border: 3px solid black;
    background-color: blue;
    height: 394.67px;
    width: 400px;
    margin:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.tweleve{

    height: 394.67px;
    width: 400px;
    margin:20px;
    border: 3px solid black;

    
}
.graduation{
  
    height: 394.67px;
    width: 400px;
    margin:20px;
     border-radius:  7em;
     border: #000000;
}
#tenth{
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
}


